
.list{
    margin: 20px 0;
    padding: 10px;
}
.skill__container
{
    display: flex;
    padding: 0px;
    margin: auto;
}
.inner{
    /* background: rgba(255,255,255, 0.8); */
    /* color: black; */
    background: var(--color-bg);
    padding: 1.2rem;
    border-radius: 2.2rem;
    backdrop-filter: blur(10px);
    width: 32rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.inner:hover{
    box-shadow: 0px 2px 13px 0px var(--color-primary);
    /* background: rgba(8, 8, 8, 0.3); */
    transition: var(--transition);
    color: white;
}
.bar
{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s ease ;
}
.bar:hover
{
    box-shadow: 0 3px 10px var(--color-light), 0 10px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, var(--color-bg-variant)0%, var(--color-primary)100%);
}
.HTML{
    width: 70%;
    animation: HTML 2s;
}
.CSS{
    width: 60%;
    animation: css 2s;
}
.JavaScript{
    width: 40%;
    animation: javascript 2s;
}
.ReactJs{
    width: 70%;
    animation: react 2s;
}
.NextJs{
    width: 40%;
    animation: mongo 2s;
}
.C{
    width: 70%;
    animation: c 2s;
}
.TypeScript{
    width: 40%;
    animation: node 2s;
}
.Algorithms{
    width: 75%;
    animation: algos 2s;
}


/*======================================== DEVICE SIZES ============================================*/

@media screen and (max-width: 1024px)
{
    .inner{
        gap: 0.3rem;
    }
}
@media screen and (max-width: 600px)
{
    .skill__container{
        display: inline;
    }
    .inner{
        width: 100%;
    }
}